	<a class='logo-link' href="/"><img class="logo-img" src="{{ STATIC_URL }}/mirocommunity_site/images/logo.png" alt="Miro Community"/></a>
	<nav>
		<ul class='header-links'>
			<li class='header-links-link'><a href="/features/">Features</a></li>
			<li class='header-links-link'><a href="/college/">Universities</a></li>
			<li class='header-links-link'><a href="/pubmedia/">Local Media</a></li>
			<li class='header-links-link'><a href="/enterprise/">Enterprise Services</a></li>
			<li class='header-links-link'><a href="/faq/">FAQ</a></li>
			<li class='header-links-button'><a href="/signup/" title="Create a site">Create a site</a></li>
		</ul>
	</nav>